:root{
    --pri:#F8EDE3;
    --sec:#45271e;
    --tri1:#E5B299;
    --tri2:#957a6c;
}

@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}

@font-face {
    font-family: regular;
    src: url(./AeonikTRIAL-Regular.otf);
}

*{
    margin:0;
    padding:0;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
#main{
    height: 100%;
    width: 100%;
}

h1{
    font-family: regular;
    
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri1);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}
.elem{
    background-color: var(--pri);
    font-size: 20px;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden; position: relative;
    transition: all ease 0.4s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.elem h2{
    position: absolute;
    bottom: 4px;
    right: 5px;
    font-size: 20px;
    color:white ;

}
.elem:active{
    scale: .97;
}
.fullElem{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #45271e;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius: 20%;
    padding: 10px;
    font-weight: 300;
    border: none;
    font-size: 10px;
    margin-top: 10px;
}
.back:active{
    scale: 0.97;
}
.todo-list-fullpage{
    display: block;
}

.todo-list-fullpage h2{
    font-size: 40px;
    color: white;
}
.todo-list-fullpage .todocontainer{
    height: 80%;
    width: 100%;
    margin-top: 30px;
    background-color: #45271e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todocontainer .addtask{
    width: 33%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--tri2);
}

.todo-list-fullpage .todocontainer .addtask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todocontainer .addtask input{
    padding: 10px 20px;
    width: 90%;
    font-size: 25px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todocontainer .addtask textarea{
    padding: 10px 20px;
    width: 90%;
    font-size: 25px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todocontainer .addtask button{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todocontainer .addtask button:active{
    scale:0.97;
}
.todo-list-fullpage .todocontainer .alltask{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    border-radius: 20px;
    background-color: var(--tri2);
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--tri1);
    padding: 20px 30px;
}
.task h5{
    color: var(--sec);
    font-size: 30px;
}
.task button{
    padding: 15px 30px;
    color: burlywood;
    background-color: rebeccapurple;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}


